<div class="container mt-4 mb-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-6">
                <img src="/images/Voting-amico.svg" alt="">
            </div>
            <div class="col-12 col-lg-6 presentacion">
                <h1 class="titulo">
                    ELECCIONES 2021
                </h1>
                <p class="subtitulo">
                    Bienvenido al nuevo sistema de votación digital.
                </p>
                <p class="texto">
                    Aquí podrá realizar su votación de manera fácil, cómoda y ágil, desde la comodidad de su hogar y en pocos pasos.
                </p>
                
                <div class= "d-flex justify-content-end mt-5 pt-5">
                    <a type="button" class="btn btn-primary boton" href="http://localhost:3000/registro">Continuar</a>
                </div>
            </div>
        </div>
    </div>
