<div class="container mt-4 mb-3">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6 mt-lg-5 presentacion">
            <p class="h5 mb-0">
                Sitio web desarrollado por
            </p>
            <p class="h1 mb-4 mt-0">
                Carlos Javier Lencina
            </p>
            <p class="h5 mb-0">
                Como proyecto final de
            </p>
            <p class="h3 mb-4 mt-0">
                Diplomatura de Desarrollo Web
            </p>
            <p class="h5 mb-0">
                Prof.
            </p>
            <p class="h3 mb-4 mt-0">
                Mario Di Giorgio
            </p>
            <p class="h5 mb-0">
                Tecnologias utilizadas
            </p>
            <div class="row d-flex mb-4 mt-0 justify-content-center">
                <div class="row col-10 d-flex align-items-center mt-3">
                    <div class="col-3 m-2" >
                        <img src="/images/html5.svg">
                    </div>
                    <div class="col-3 m-2">
                        <img src="/images/css3.svg">
                    </div>
                    <div class="col-3 m-2">
                        <img class="self-" src="/images/JavaScript_logo.svg">
                    </div>
                    <div class="col-3 m-2">
                        <img src="/images/bootstrap.svg">
                    </div>
                    <div class="col-3 m-2">
                        <img src="/images/mongodb.svg">
                    </div>
                    <div class="col-3 m-2">
                        <img src="/images/nodejs.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <img src="/images/Content structure-amico.svg" alt="">
        </div>
    </div>
</div>