<div class="container mt-5 mb-5">
    <p class="info mb-0">Informacion.</p>
    <p class="mt-1">Resultado de Operacion</p>
    <hr class="bg-secondary mb-4">
    <div class="row justify-content-center">
        <div class="tarjeta-info col-8 m-3">
            <div class="justify-content-center">
                <p class="row col m-3">
                    {{salida.texto1}}
                </p>
                <p class="row col m-3">
                    {{salida.texto2}}
                </p> 
            </div>
            <div class="d-flex justify-content-end mt-4 m-3">
                <a type="button" class="btn btn-primary boton" href="{{salida.destino}}">Continuar</a>
            </div>
        </div>
    </div>
    </div>