{{!-- <p>Estoy en registro de votante</p>

<a href="http://localhost:3000/votacion"> ir a votar </a> --}}

<div class="container mt-5">
        <p class="info mb-0">Ingrese los datos para el registro.</p>
        <p class="text-danger mt-1">*Todos los datos requeridos son obligatorios</p>
        <hr class="bg-secondary mb-4">
        
        <div class="container mt-4 pt-4">
            <form id="registro" action="/registro?_method=PUT" method="POST" enctype="application/json">
                <div class="row form-group mb-4">
                    <label for="nombre" class="col-form-label col-3" >Nombre Completo</label>
                    <div class="col-7">
                        <input type="text" name="nombre" class="form-control"  minlength="5" maxlength="50" required>
                    </div>
                </div>

                <div class="row form-group mb-4">
                    <label for="dni" class="col-form-label col-3">Documento</label>
                    <div class="col-3">
                        <input type="text" name="dni" id="dni" class="form-control" required minlength="8" maxlength="8">
                    </div>
                </div>
                
                <div class="row form-group mb-4">
                    <label for="sexo" class="col-form-label col-3">Sexo</label>
                    <div class="col-3">
                        <select name="sexo" type="text" class="form-control" required>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group justify-content-end">
                    <button type="submit" class="btn btn-primary boton mt-4 mr-3">Continuar</button>
                </div>
            </form>
        </div>
    </div> 