<div class="container mt-5 mb-5">
    <p class="info mb-0">Estadisticas.</p>
    <p class="mt-1">Resultado de las votaciones</p>
    <hr class="bg-secondary mb-4">
    <div class="row justify-content-center">

        {{!-- AREA DE LOS CANDIDATOS --}}

        {{!-- este segmento debe ser iterativo x4--}}
        <div class="tarjeta col-8 m-3">
            <div class=" ">
                <img src="images/wallhaven-eyxqpw.png" class="imagen">
            </div>
            <div class="presentacion">
                <h4 class="nombre">Morfeo</h4>
                <p class="partido font-italic">"Sueños Eternos"</p>
                <div class="resultado">
                    <div class="progress">
                        <div class="progress-bar" style="width: 65%;">65%</div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- fin iterativo x4--}}
    </div>
</div>
